.keyboard{
    padding: 5px;
    padding-bottom: 16px;

}

#testBar{
    background-color:black;
    position:absolute;
    left:0;
    top: 0;
    width:160px;
    height:1000px;
    opacity: 0.5;
}

.newKeyboard{
    padding: 5px;
    padding-bottom: 50px;
}


#remapped_text{
    width:880px;
    height:225px;
    position:absolute;
    top:125px;
    left:167px;
    color:gray;
}

#keyboard_text{
    width: 910px;
    height: 150px;
    resize: none;
}

#keyboard_text2{
    resize: none;
    width: 910px;
    color:white;
    height:5px;
    margin-top: 260px;
    border-color:white;
    background-color: white;
    padding:0px;
}

.key{
    padding: 5px;
    width: 45px;
    height: 45px;
    float: left;
    background-color: #212121;
    margin: 3px;
    color: white;
}

.block{
    padding: 5px;
    width: 45px;
    height: 45px;
    float: left;
    background-color: black;
    border: 1px solid white;
    margin: 2px;
    color: white;
    opacity:0;
}

.title_block{
    font-size: 30px;
    margin: 5px;
    padding: 5px;
    width: 45px;
    height: 45px;
    float: left;
    background-color: white;
    border: 1px solid white;
    margin: 4px 0px 2px 7px;
    color: white;
}

#A14{
    width:90px;
}

#B01{
    width:68px;
}

#B14{
    width:67px;
}

#C01{
    width:97px;
}

#C13{
    width:99px;
}

#D01{
    width:128px;
}

#D12{
    width:129px;
}

#E04{
    width:380px;
}

#E01{
    width:70px;
}

#E08{
    width:70px;
    margin-bottom: 150px;
}

#E02{
    width:52px;
}

#E06{
    width:52px;
}

#E03{
    width:49px;
}

#E05{
    width:49px;
}

#E07{
    width:49px;
}

#timer{
    float:right;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: -18px;
    font-size: 15px;
}

.graph{
    margin-left: -15px;
}

#repeat{
    padding: 4px;
    margin-left: 7px;
    margin-right: 5px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555555;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    vertical-align: middle;
    width: 55px;
}

h3{
    color:#0088cc;
}

h1#test{
    margin: -8px 0px 4px 6px;
}













