{% extends "base.html" %}
{% block body %}
    {% if not user_id %}
        <h3><a href="{{url_for('view_pekl', user_id='guest')}}">Your keyboard</a></h3></b>
    {% else %}
        <h3><a href="{{url_for('view_pekl', user_id=user_id)}}">Your keyboard</a></h3></b>
    {% endif %}<br>
    {% for key in keyboard %}
        {% for attr in key %}
            {{attr}}
        {% endfor %} |
    {% endfor %}<br><br>
    <h2>Graph Experimentation</h2>
    <h3>Average keystroke times</h3><br>
    <canvas id="myChart" width="650" height="350"></canvas><br><br>
    <script src="/static/js/Chart.js"></script>
    <script>
        function makeData(l) {
            var labels = [];
            var values = [];
            for(var key in l) {
                labels.push(key);
                values.push(l[key]);
            }
            return [labels, values];
        }

        var average_times = makeData({{avg_times|tojson|safe}});
        var time_labels = average_times[0];
        var time_values = average_times[1];
        var data = {
            labels : time_labels,
            datasets : [
                {
                    fillColor : "rgba(151,187,205,0.5)",
                    strokeColor : "rgba(151,187,205,1)",
                    pointColor : "rgba(151,187,205,1)",
                    pointStrokeColor : "#fff",
                    data : time_values
                }
                // ,{
                    // fillColor : "rgba(220,220,220,0.5)",
                    // strokeColor : "rgba(220,220,220,1)",
                    // pointColor : "rgba(220,220,220,1)",
                    // fillColor : "rgba(151,187,205,0.5)",
                    // strokeColor : "rgba(151,187,205,1)",
                    // pointColor : "rgba(151,187,205,1)",
                    // pointStrokeColor : "#fff",
                    // data : [28,48,40,19,96,27,100]
                // }
            ]
        }
        var ctx = document.getElementById("myChart").getContext("2d");
        var newChart = new Chart(ctx).Line(data);
    </script><br>

    <h2>Analytics</h2><br>
    {% if not user_id %}
        <b><a href="/register">Register</a> to save your future analytics.</b><br><br>
    {% endif %}
    <b>Raw input:</b> {{raw_text}}<br>
    <b>Final input:</b> {{text}}<br><br>
    <b>Average key stroke time:</b><br> 
        {% for keytime in avg_times %}
           {{keytime}} -- {{avg_times[keytime]}}, 
        {% endfor %} <br><br>
    <b>Strokes:</b><br> {{strokes}}<br><br>
{% endblock %}