<html>
    <head>
        <title>Derrrick.</title>
        <style>
            body {
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            }
        </style>
    </head>

    <body>
        <center><h3>Stay in touch with Derrick, allways.</h3></center>

        <div> 
            <center>
            <table>
                <tr>
                    <td><b>Email: </b><a href='mailto:derrick@pulsar.vc'>derrick@pulsar.vc</a></td>
                </tr>
                <tr>
                    <td><b>Facebook: </b>/<a href='http://www.Facebook.com/derrickstaten'>derrickstaten</a></td>
                </tr>
                <tr>
                    <td><b>Twitter: </b>@<a href='http://www.twitter.com/dstaten'>dstaten</a></td>
                </tr>
            </table>
        </center>
        </div>

        <div style="position: absolute; bottom: 0px; padding: 8 0 8 0 ; background-color: #011053; color: white; width: 100%">
        <center>Happiness for everyone, allways. Starting in 2013.</center>
        </div>
    </body>
</html>