{% extends "base.html" %}
{% block body %}
    <h1 id="name">{{user.name}}</h1><br>
    {% if user.keyboard %}
        {% for board in user.keyboard %}
            <div id="info">
                <a class="info_thumb" href="/keyboard/{{board.id}}"><div class="thumbnail">{{board.keys[35].values.split()[1][0]}}</div></a>
                <div class="info"><b><a href="/keyboard/{{board.id}}">{{board.name}}</a></b></div> 
                {% if user.id == user_id %}
                    <a class="info" href="/edit/{{board.id}}" id="edit" title="Edit keyboard"><img src="/static/img/edit.png"></img></a>
                    <a href="/delete/{{board.id}}" id="delete" title="Delete keyboard"><b>X</b></a><br>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        None available<br>
    {% endif %}
{% endblock %}