{% extends "base.html" %}
{% block body %}
    <h2>{{user.name}}</h2>
    <b>Occupation: </b> {{user.occupation}}<br>
    <b>Dominant hand: </b>
        {% if user.right_hand %}
            Right
        {% else %}
            Left
        {% endif %}<br><br>
    <h3>Keyboards: </h3>
    {% if user.keyboard %}
        {% for board in user.keyboard %}
            <div id="info">
                <a class="info" href="/keyboard/{{board.id}}"><div class="thumbnail">{{board.keys[35].values.split()[1]}}</div></a>
                <div class="info"><b><a href="/keyboard/{{board.id}}">{{board.name}}</a></b></div> 
                {% if user.id == user_id %}
                    <a class="info" href="/edit/{{board.id}}">Edit</a>
                    <a class="info" href="/delete/{{board.id}}">Delete</a><br>
                    <a class="info" href="/export/{{board.id}}">Export</a>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        None available<br>
    {% endif %}
<script>
    $('#save').onClick(function(e) {
        e.preventDefault();
        $.post($('#save_edits').attr('action'), $('#save_edits').serialize(), function(data){
        });
    });
</script>

{% endblock %}