{% extends "base.html" %}
{% block body %}
    <h2>{{user.name}}</h2><br>
    <b>Occupation: </b> {{user.occupation}}<br>
    <b>Dominant hand: </b>
        {% if user.right_hand %}
            Right
        {% else %}
            Left
        {% endif %}<br><br>
    <b>Keyboards: </b><br>
    {% if user.keyboard %}
        <ul>
        {% for board in user.keyboard %}
            <li><a href="/keyboard/{{board.id}}">{{board.name}}</a> 
                {% if user.id == user_id %}
                    <b><a href="/edit/{{board.id}}">Edit<a></b>
                    <b><a href="/delete/{{board.id}}">Delete<a></b>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        None available<br>
    {% endif %}
<script>
    $('#save').onClick(function(e) {
        e.preventDefault();
        $.post($('#save_edits').attr('action'), $('#save_edits').serialize(), function(data){
        });
    });
</script>

{% endblock %}