{% extends "base.html" %}
{% block body %}
    <h2>Graph Experimentation</h2><br><br>
    <canvas id="myChart" width="400" height="400"></canvas><br><br>
    <script src="Chart.js">
        
        var data = {
            labels : ["January","February","March","April","May","June","July"],
            datasets : [
                {
                    fillColor : "rgba(220,220,220,0.5)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : [65,59,90,81,56,55,40]
                },
                {
                    fillColor : "rgba(151,187,205,0.5)",
                    strokeColor : "rgba(151,187,205,1)",
                    pointColor : "rgba(151,187,205,1)",
                    pointStrokeColor : "#fff",
                    data : [28,48,40,19,96,27,100]
                }
            ]
        }

        var context = document.getElementById("myChart").getContext("2d");
        var newChart = new Chart(context).Line(data, options);

    </script>

    <h2>Analytics</h2><br>
    <b>Raw input:</b> {{raw_text}}<br>
    <b>Final input:</b> {{text}}<br><br>
    <b>Strokes:</b><br> {{strokes}}<br><br>
    <b>Average key stroke time:</b><br> 
    {% for keytime in avg_times %}
       {{keytime}} -- {{avg_times[keytime]}}, 
    {% endfor %} <br><br>
    <b><a href="{{url_for('view_pekl', user_id=user_id)}}">Your keyboard</a></b>
{% endblock %}