{% extends "base.html" %}
{% block body %}
    <div id="text_content">
        <span class="texts" id="new_text"></span><span class="texts" id="old_text"></span>
    </div> <br>
    <div id="text_details"><span id="text_title"><b>{{text.title}}</b></span> <span id="text_author">-{{text.author}}</span></div>
    <form method="POST", id="typing_data" action="">
        <textarea id='input2_text' cols=700 rows=10></textarea><br>
        <input type="hidden" id="layout" name="layout" value="">
        <input type="hidden" id="input1" name="input1" value="">
        <input type="hidden" id="input2" name="input2" value="">
        <input type="hidden" id="mistakes" name="mistakes" value="">
        <input type="hidden" id="text" name="text" value="">
        <input type="hidden" id="time" name="time" value="">
        <input type="submit" id="repeat" value="Repeat">
        <input type="submit" id="button" value="Process">
        <span id="text_timer"></span><br>
    </form>
    <span id="proceed"></span>

<div class="keyboard">
    <div class="keyboard_row">
        <div class="key" id="A01">~<br>`</div>
        <div class="key" id="A02">!<br>1</div>
        <div class="key" id="A03">@<br>2</div>
        <div class="key" id="A04">#<br>3</div>

        <div class="key" id="A05">$<br>4</div>
        <div class="key" id="A06">%<br>5</div>
        <div class="key" id="A07">^<br>6</div>
        <div class="key" id="A08">&<br>7</div>
        <div class="key" id="A09">*<br>8</div>
        <div class="key" id="A10">(<br>9</div>
        <div class="key" id="A11">)<br>0</div>
        <div class="key" id="A12">_<br>-</div>
        <div class="key" id="A13">+<br>=</div>
        <div class="key" id="A14">DELETE</div>
    </div>
    <div class="keyboard_row">
        <div class="key" id="B01">TAB</div>
        <div class="key" id="B02">Q</div>
        <div class="key" id="B03">W</div>
        <div class="key" id="B04">E</div>
        <div class="key" id="B05">R</div>
        <div class="key" id="B06">T</div>
        <div class="key" id="B07">Y</div>
        <div class="key" id="B08">U</div>
        <div class="key" id="B09">I</div>
        <div class="key" id="B10">O</div>
        <div class="key" id="B11">P</div>
        <div class="key" id="B12">{<br>[</div>
        <div class="key" id="B13">}<br>]</div>
        <div class="key" id="B14">|<br>\</div>
    </div>
    <div class="keyboard_row">
        <div class="key" id="C01">CAPS</div>
        <div class="key" id="C02">A</div>
        <div class="key" id="C03">S</div>
        <div class="key" id="C04">D</div>
        <div class="key" id="C05">F</div>
        <div class="key" id="C06">G</div>
        <div class="key" id="C07">H</div>
        <div class="key" id="C08">J</div>
        <div class="key" id="C09">K</div>
        <div class="key" id="C10">L</div>
        <div class="key" id="C11">:<br>;</div>
        <div class="key" id="C12">"<br>'</div>
        <div class="key" id="C13">ENTER</div>
    </div>
    <div class="keyboard_row">
        <div class="key" id="D01">SHIFT</div>
        <div class="key" id="D02">Z</div>
        <div class="key" id="D03">X</div>
        <div class="key" id="D04">C</div>
        <div class="key" id="D05">V</div>
        <div class="key" id="D06">B</div>
        <div class="key" id="D07">N</div>
        <div class="key" id="D08">M</div>
        <div class="key" id="D09"><<br>,</div>
        <div class="key" id="D10">><br>.</div>
        <div class="key" id="D11">?<br>/</div>
        <div class="key" id="D12">SHIFT</div>
    </div>
    <div class="keyboard_row">
        <div class="key" id="E01">CONTROL</div>
        <div class="key" id="E02">SUPER</div>
        <div class="key" id="E03">ALT</div>
        <div class="key" id="E04">SPACE</div>
        <div class="key" id="E05">ALT</div>
        <div class="key" id="E06">SUPER</div>
        <div class="key" id="E07">META</div>
        <div class="key" id="E08">CONTROL</div>
    </div>
</div>
<br><br>

<script type="text/javascript">
    //SECTION 1: visual timer -- set for two minutes
    
    var Timer;
    var TotalSeconds;

    function CreateTimer(TimerID, Time) {
        Timer = document.getElementById(TimerID);
        TotalSeconds = Time;

        UpdateTimer();
        window.setTimeout("Tick()", 1000);
    }

    function Tick() {
        TotalSeconds++;
        UpdateTimer()
        window.setTimeout("Tick()", 1000);
    }

    function UpdateTimer() {
        var Seconds = TotalSeconds;
        var Minutes = Math.floor(Seconds/60);
        Seconds -= (Minutes * 60);

        var TimeStr = Minutes + ":" + LeadingZero(Seconds);
        Timer.innerHTML = TimeStr;
    }

    function LeadingZero(Time) {
        return (Time < 10) ? "0" + Time : Time;
    }

    $('body').one("keydown", function(event) {
        CreateTimer("text_timer", 0);
    });


    //SECTION 2: keyboard typing animations

    var keys = {192:"A01", 49:"A02", 50:"A03", 51:"A04", 52:"A05", 53:"A06", 54:"A07", 55:"A08", 56:"A09", 57:"A10", 48:"A11", 189:"A12", 187:"A13", 
            8:"A14", 9:"B01", 81:"B02", 87:"B03", 69:"B04", 82:"B05", 84:"B06", 89:"B07", 85:"B08", 73:"B09", 79:"B10", 80:"B11", 219:"B12", 
            221:"B13", 220:"B14", 20:"C01", 65:"C02", 83:"C03", 68:"C04", 70:"C05", 71:"C06", 72:'C07', 74:'C08', 75:'C09', 76:'C10',  186:"C11", 
            222:'C12', 13:"C13", 16:"D01", 90:"D02", 88:"D03", 67:"D04", 86:"D05", 66:"D06", 78:"D07", 77:'D08', 188:"D09", 190:"D10", 191:"D11", 
            17:"E01", 18:"E03", 32:"E04"}
    
    
    //makes assumption that caps lock default state is off
    var caps_down = null;

    var input1 = {{input1|tojson|safe}};
    var input2 = "";
    var mistakes = "";

    function keyCount(eType, key, timestamp) {
        input2 += eType + " " + key + " " + timestamp + " ";
    }

    var text = {{text.content|tojson|safe}};
    var i = 0;
    var d = 0;
    document.getElementById('old_text').innerHTML = {{text.content|tojson|safe}};

    function animateTyping(key) {
        var new_text = document.getElementById('new_text');
        if ((key==8) & (d > 0)) {
            var ch = new_text.innerHTML.slice(-8, -7);
            if (ch == " ") {
                mistakes += "SPACE" + " ";
            } else {
                mistakes += new_text.innerHTML.slice(-8, -7) + " ";
            }
            
            new_text.innerHTML = new_text.innerHTML.slice(0, -30);
            d--;
        } else if ((d == 0) & (key == 8)) {
            if (i > 0) {
                var ch = new_text.innerHTML.slice(-1);
                if (ch == " "){
                    mistakes += "SPACE" + " ";
                } else {
                    mistakes += new_text.innerHTML.slice(-1) + " ";
                }
                
                old_text.innerHTML = text.slice(i - 1);
                new_text.innerHTML = new_text.innerHTML.slice(0, -1);
                i--;
            }
        } else if ((String.fromCharCode(key) == text[i]) & (d==0)){
            new_text.innerHTML += text[i];
            old_text.innerHTML = old_text.innerHTML.slice(1);
            i++;
        } else {
            d++;
            new_text.innerHTML += "<span class='mistake'>"+String.fromCharCode(key)+"</span>";
        }
    } 

    $('#input2_text').keypress(function (event) {
        animateTyping(event.which);
    });

    $('#input2_text').keydown(function (event) {
        if (event.which == 8) {
            animateTyping(event.which);
        }

        keyCount("D", event.which, JSON.stringify(new Date().getTime()));

        if (event.which == 16) {
            document.getElementById('D01').style.backgroundColor="orange";
            document.getElementById('D12').style.backgroundColor="orange";
        } else if ((event.which == 20) && (caps_down != null)) {
            caps_down.style.backgroundColor="212121";
            caps_down = null;
        } else if (event.which == 20) {
            var key = document.getElementById(keys[event.which]);
            key.style.backgroundColor="orange";
            caps_down = key;
        } else {
            var key = document.getElementById(keys[event.which]);
            key.style.backgroundColor="orange";
        }
    });

    $('#input2_text').keyup(function (event) {

        keyCount("U", event.which, JSON.stringify(new Date().getTime()));
        
        if (event.which == 16) {
            document.getElementById('D01').style.backgroundColor="212121";
            document.getElementById('D12').style.backgroundColor="212121";
        } else if (event.which != 20) {
            var key = document.getElementById(keys[event.which]);
            key.style.backgroundColor="212121";
        }
    });

    //SECITON 3: submitting form values

    function updateValues(){
        document.getElementById('input1').value += input1;
        document.getElementById('input2').value += input2;
        document.getElementById('mistakes').value += mistakes;
        if (TotalSeconds){
            document.getElementById('time').value = TotalSeconds;
        } else {
            document.getElementById('time').value = "0";
        }
        document.getElementById('text').value += text.slice(0, i);
    }

    function submitForm(action) {
        document.getElementById("typing_data").action = action;
        document.getElementById("typing_data").submit();
    }

    $('#button').click(function(event) {
        updateValues();
        submitForm("/analytics");
    });

    $('#repeat').click(function(event) {
        updateValues();
        submitForm('/input2');
    });

</script>
{% endblock %}