{% extends "base.html" %}
{% block body %}
    <h3>{{prompt}}</h3> <span id="timer"></span><br>
    <form method="POST", id="typing_data" action="">
        <textarea id='keyboard_text' cols=100 rows=10></textarea><br>
        <input type="hidden" id="keystrokes" name="stroke" value="">
        <input type="hidden" id="raw" name="rawtext" value="">
        <input type="hidden" id="ftext" name="final_text" value="">
        <input type="hidden" id="layout" name="layout" value="">
        <input type="submit" id="repeat" value="Repeat">
        <input type="submit" id="button" value="Process">
    </form>

<div class="keyboard">
    <div class="keyboard_row">
        <div class="key" id="A01">~<br>`</div>
        <div class="key" id="A02">!<br>1</div>
        <div class="key" id="A03">@<br>2</div>
        <div class="key" id="A04">#<br>3</div>
        <div class="key" id="A05">$<br>4</div>
        <div class="key" id="A06">%<br>5</div>
        <div class="key" id="A07">^<br>6</div>
        <div class="key" id="A08">&<br>7</div>
        <div class="key" id="A09">*<br>8</div>
        <div class="key" id="A10">(<br>9</div>
        <div class="key" id="A11">)<br>0</div>
        <div class="key" id="A12">_<br>-</div>
        <div class="key" id="A13">+<br>=</div>
        <div class="key" id="A14">DELETE</div>
    </div>
    <div class="keyboard_row">
        <div class="key" id="B01">TAB</div>
        <div class="key" id="B02">Q</div>
        <div class="key" id="B03">W</div>
        <div class="key" id="B04">E</div>
        <div class="key" id="B05">R</div>
        <div class="key" id="B06">T</div>
        <div class="key" id="B07">Y</div>
        <div class="key" id="B08">U</div>
        <div class="key" id="B09">I</div>
        <div class="key" id="B10">O</div>
        <div class="key" id="B11">P</div>
        <div class="key" id="B12">{<br>[</div>
        <div class="key" id="B13">}<br>]</div>
        <div class="key" id="B14">|<br>\</div>
    </div>
    <div class="keyboard_row">
        <div class="key" id="C01">CAPS</div>
        <div class="key" id="C02">A</div>
        <div class="key" id="C03">S</div>
        <div class="key" id="C04">D</div>
        <div class="key" id="C05">F</div>
        <div class="key" id="C06">G</div>
        <div class="key" id="C07">H</div>
        <div class="key" id="C08">J</div>
        <div class="key" id="C09">K</div>
        <div class="key" id="C10">L</div>
        <div class="key" id="C11">:<br>;</div>
        <div class="key" id="C12">"<br>'</div>
        <div class="key" id="C13">ENTER</div>
    </div>
    <div class="keyboard_row">
        <div class="key" id="D01">SHIFT</div>
        <div class="key" id="D02">Z</div>
        <div class="key" id="D03">X</div>
        <div class="key" id="D04">C</div>
        <div class="key" id="D05">V</div>
        <div class="key" id="D06">B</div>
        <div class="key" id="D07">N</div>
        <div class="key" id="D08">M</div>
        <div class="key" id="D09"><<br>,</div>
        <div class="key" id="D10">><br>.</div>
        <div class="key" id="D11">?<br>/</div>
        <div class="key" id="D12">SHIFT</div>
    </div>
    <div class="keyboard_row">
        <div class="key" id="E01">CONTROL</div>
        <div class="key" id="E02">SUPER</div>
        <div class="key" id="E03">ALT</div>
        <div class="key" id="E04">SPACE</div>
        <div class="key" id="E05">ALT</div>
        <div class="key" id="E06">SUPER</div>
        <div class="key" id="E07">META</div>
        <div class="key" id="E08">CONTROL</div>
    </div>
</div>
<br><br>

<script type="text/javascript">
    //SECTION 1: visual timer -- set for two minutes
    
    var Timer;
    var TotalSeconds;

    function CreateTimer(TimerID, Time) {
        Timer = document.getElementById(TimerID);
        TotalSeconds = Time;

        UpdateTimer();
        window.setTimeout("Tick()", 1000);
    }

    function Tick() {
        if (TotalSeconds <= 0) {
            Timer.innerHTML = "Proceed!";
            document.getElementById(TimerID).style.color="212121";
            return;
        }

        TotalSeconds -= 1;
        UpdateTimer()
        window.setTimeout("Tick()", 1000);
    }

    function UpdateTimer() {
        var Seconds = TotalSeconds;
        var Minutes = Math.floor(Seconds/60);
        Seconds -= (Minutes * 60);

        var TimeStr = Minutes + ":" + LeadingZero(Seconds);
        Timer.innerHTML = TimeStr;
    }

    function LeadingZero(Time) {
        return (Time < 10) ? "0" + Time : Time;
    }

    window.onload = CreateTimer("timer", 120);


    //SECTION 2: keyboard typing animations

    var keys = {96:"A01", 126:"A01", 33:"A02", 49:"A02", 50:"A03", 64:"A03", 35:"A04", 51:"A04", 36:"A05", 52:"A05", 53:"A06", 37:"A06", 54:"A07", 94:"A07", 55:"A08", 
        38:"A08", 42:"A09", 56:"A09", 57:"A10", 40:"A10", 48:"A11", 41:"A11", 45:"A12", 95:"A12", 43:"A13", 61:"A13", 8:"A14", 9:"B01", 13:"C13", 16:"D01",
        17:"E01", 18:"E03", 20:"C01", 32:"E04", 97:"C02", 65:"C02", 113:"B02", 81:"B02", 119:"B03", 87:"B03", 101:"B04", 69:"B04", 114:"B05",82:"B05", 116:"B06", 
        84:"B06", 89:"B07", 121:"B07", 85:"B08", 117:"B08", 73:"B09", 105:"B09", 80:"B11", 112:"B11", 123:"B12", 91:"B12", 93:"B13", 125:"B13", 124:"B14", 
        92: "B14", 111:"B10", 79:"B10", 98:"D06", 66:"D06", 115:"C03", 83:"C03", 100:"C04", 68:"C04", 102:"C05", 70:"C05", 103:"C06", 71:"C06", 104:"C07", 72:'C07', 
        74:'C08', 106:'C08', 107:'C09', 75:'C09', 76:'C10', 108:'C10', 77:'D08', 109:'D08', 59:"C11", 58:'C11', 39:'C12', 34:'C12', 122:"D02", 90:"D02", 120:"D03", 
        88:"D03", 99:"D04", 67:"D04", 118:"D05", 86:"D05", 110:"D07", 78:"D07", 60:"D09", 44:"D09", 62:"D10", 46:"D10", 63:"D11", 47:"D11"}
    
    
    //makes assumption that caps lock default state is off
    var caps_down = null;
    var prev_key = null;

    var keystrokes = {{strokes|tojson|safe}};
    var raw_text = {{raw|tojson|safe}} + "|";
    var final_text = {{final_text|tojson|safe}} + "|";

    function keyCount(key, timestamp) {
        keystrokes += key + " " + timestamp + "|";
        raw_text += String.fromCharCode(key);
    }

    $('#keyboard_text').keypress(function (event) { 
        if ((event.which > 32) && (event.which <= 127)) {
            if (prev_key != null) {
                prev_key.style.backgroundColor="212121";
            }
            var key = document.getElementById(keys[event.which]);
            key.style.backgroundColor="orange";
            prev_key = key;
            keyCount(event.which, JSON.stringify(new Date().getTime()));
        }
    });

//do both key animations for control and alt
    $('#keyboard_text').keydown(function (event) {
        if (event.which <= 32) {
            if (prev_key != null) {
                prev_key.style.backgroundColor="212121";
            }
            
            keyCount(event.which, JSON.stringify(new Date().getTime()));

            if (event.which == 16) {
                document.getElementById('D01').style.backgroundColor="orange";
                document.getElementById('D12').style.backgroundColor="orange";
            } else if ((event.which == 20) && (caps_down != null)) {
                caps_down.style.backgroundColor="212121";
                caps_down = null;
            } else if (event.which == 20) {
                var key = document.getElementById(keys[event.which]);
                key.style.backgroundColor="orange";
                caps_down = key;
            } else {
                var key = document.getElementById(keys[event.which]);
                key.style.backgroundColor="orange";
                prev_key = key;
            }
        }
    });

    //Should I just make all keys resturn to default value when key released?
    $('#keyboard_text').keyup(function (event) {
        if (event.which == 16) {
            document.getElementById('D01').style.backgroundColor="212121";
            document.getElementById('D12').style.backgroundColor="212121";
        }
    });



    //SECITON 3: submitting form values

    function updateValues(){
        document.getElementById('keystrokes').value += keystrokes + "*";
        document.getElementById('raw').value += raw_text;
        document.getElementById('ftext').value += final_text + document.getElementById('keyboard_text').value;
    }

    function submitForm(action) {
        document.getElementById("typing_data").action = action;
        document.getElementById("typing_data").submit();
    }

    $('#button').click(function(event) {
        updateValues();
        submitForm("/analytics");
    });

    $('#repeat').click(function(event) {
        updateValues();
        submitForm('/keyboard');
    });

</script>
{% endblock %}