{% extends "base.html" %}
{% block body %}
        <div id="loading">
            <div class="c"><div class="l" id="l1">L</div></div>
            <div class="c"><div id="l2" class="l">O</div></div>
            <div class="c"><div id="l3" class="l">A</div></div>
            <div class="c"><div id="l4" class="l">D</div></div>
            <div class="c"><div id="l5" class="l">I</div></div>
            <div class="c"><div id="l6" class="l">N</div></div>
            <div class="c"><div id="l7" class="l">G</div></div>
            <div class="c"><div id="l8" class="l">...</div></div>
        </div>
            <h1 id="test">New Keyboard</h1><br>
            <pre><div id="remapped_text"></div></pre>
            <div id='newKeyboard'></div>
    <script>

    var load;

    function loading() {
        $(".l").each(function(index) {
            $(this).delay(200 + (200 * index)).fadeToggle(200);
        });
        load = setTimeout(loading, 2000);
    }

    var ready = false;
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    //AJAX - genetic algo generates layout
    $(function() {
        $(document).ready(function() {
            loading();
          $.getJSON('/genetic/', {
            f: {{f|tojson|safe}},
            k: {{k|tojson|safe}},
            a: {{a|tojson|safe}}
          }, function(data) {
            clearTimeout(load);
            $('#loading').fadeOut();
            ready = true;
            var keyboard = data.result;
            console.log(keyboard);
            makeKeyboard(keyboard);
            makeValues(keyboard);
          });
          return false;
        });
    });

    var visual_value = {};

    function makeValues(keyboard) {
        for (var i =0; i < keyboard.length; i++) {
            for (var h=0; h < keyboard[i].length; h++) {
                if (h % 3 == 0) {
                    visual_value[keyboard[i][h]] = [];
                    var value1 = keyboard[i][h + 1][0];
                    var value2 = keyboard[i][h + 1][1];
                    if (value1 == "SPACE") {
                        value1 = " ";
                        value2 = value1;
                    } else if (value1 == "TAB") {
                        value1 = "    ";
                        value2 = value1;
                    } else if (value1 == "ENTER") {
                        value1 = "<br>";
                        value2 = value1;
                    }
                    visual_value[keyboard[i][h]].push(value1);
                    visual_value[keyboard[i][h]].push(value2);
                }
            }
        }
    }

    function makeKeyboard(kb) {
        for (var i = 0; i < kb.length; i ++) {
            var location = kb[i][0]
            var val1 = kb[i][1][1]
            if ((val1 == "~") || (val1 == "!") || (val1 == "@") || (val1 == "#") || (val1 == "$") || (val1 == "%") ||
                (val1 == "^") || (val1 == "&") || (val1 == "*") || (val1 == "(") || (val1 == ")") || (val1 == "_") ||
                (val1 == "+") || (val1 == "{") || (val1 == "}") || (val1 == "|") || (val1 == ":") || (val1 == '"') ||
                (val1 == "<") || (val1 == ">") || (val1 == "?")) {
                var val2 = "<br>" + kb[i][1][0]
            } else {
                var val2 = ""
            }
            $('#newKeyboard').append("<div class='key' id=" + location + ">" + val1 + val2 + "</div>");

            if (location == "B14") {
                $('#newKeyboard').append("<div class='key' id='C01'>CAPS</div>");
            } else if (location == "C13") {
                $('#newKeyboard').append("<div class='key' id='D01'>SHIFT</div>");
            } else if (location == "D11") {
                $('#newKeyboard').append("<div class='key' id='D12'>SHIFT</div>");
                $('#newKeyboard').append("<div class='key' id='E01'>CONTROL</div>");
                $('#newKeyboard').append("<div class='key' id='E02'>SUPER</div>");
                $('#newKeyboard').append("<div class='key' id='E03'>ALT</div>");
            } else if (location == "E04") {
                $('#newKeyboard').append("<div class='key' id='E05'>ALT</div>");
                $('#newKeyboard').append("<div class='key' id='E06'>SUPER</div>");
                $('#newKeyboard').append("<div class='key' id='E07'>META</div>");
                $('#newKeyboard').append("<div class='key' id='E08'>CONTROL</div>");
            }
        }
    }

    //KEYPRESS ANIMATIONS
    var keys = {192:"A01", 49:"A02", 50:"A03", 51:"A04", 52:"A05", 53:"A06", 54:"A07", 55:"A08", 56:"A09", 57:"A10", 48:"A11", 189:"A12", 187:"A13", 8:"A14", 
            9:"B01", 81:"B02", 87:"B03", 69:"B04", 82:"B05", 84:"B06", 89:"B07", 85:"B08", 73:"B09", 79:"B10", 80:"B11", 219:"B12", 221:"B13", 220:"B14", 
            20:"C01", 65:"C02", 83:"C03", 68:"C04", 70:"C05", 71:"C06", 72:'C07', 74:'C08', 75:'C09', 76:'C10',  186:"C11", 222:'C12', 13:"C13", 
            16:"D01", 90:"D02", 88:"D03", 67:"D04", 86:"D05", 66:"D06", 78:"D07", 77:'D08', 188:"D09", 190:"D10", 191:"D11", 
            17:"E01", 18:"E03", 32:"E04"};

    //makes assumption that caps lock default state is off
    var caps_on = false;
    var shift_on = false;
    
    if (ready) {
        $('body').keydown(function (event) {
            var textarea = document.getElementById('remapped_text');
            //if shift, return shifted value
            if (event.which == 20) {
                if (caps_on) {
                    document.getElementById('C01').style.backgroundColor="212121";
                } else {
                    document.getElementById('C01').style.backgroundColor="orange"; 
                }
                caps_on = !caps_on;
            } else if (event.which == 16) {
                shift_on = true;
                document.getElementById('D01').style.backgroundColor="orange";
                document.getElementById('D12').style.backgroundColor="orange";
            } else {
                var key = document.getElementById(keys[event.which]);
                key.style.backgroundColor="orange";
                if (visual_value[keys[event.which]][0] == 'DELETE') {
                    textarea.innerHTML = textarea.innerHTML.slice(0, -1);
                } else if ((caps_on) || (shift_on)) {
                    textarea.innerHTML += visual_value[keys[event.which]][1];
                } else {
                    textarea.innerHTML += visual_value[keys[event.which]][0];
                }
            }
        });

        $('body').keyup(function (event) {
            if (event.which == 16) {
                shift_on = false;
                document.getElementById('D01').style.backgroundColor="212121";
                document.getElementById('D12').style.backgroundColor="212121";
            } else if (event.which != 20) {
                var key = document.getElementById(keys[event.which]);
                key.style.backgroundColor="212121";
            }
        });
    }

    </script>
{% endblock %}