{% extends "base.html" %}
{% block body %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<div id="analytics"></div>
    <div id="typing_analytics">TYPING ANALYTICS</div>
    <div id="gen_link">
        <img src="/static/img/kb2.jpg" id="keyboard_img"></img>
    </div>
    <div id="white"></div>

    <div id="data">
        <div id="metrics1">
            <div class="Ametrics" id="distance"><div id="d">{{distance[:-3]}}<br></div><br><div class="AmetricsContent">Distance<br>(mm)</div></div>
            <div class="Ametrics" id="wpm"><div id="w">{{wpm}}</div><br><div class="AmetricsContent">Words Per Minute</div></div>
            <div class="Ametrics" id="accuracy"><div id="a">{{accuracy[:-2]}}%</div><br><div class="AmetricsContent"><div id="acc">Accuracy</div></div></div>
        </div>

        <div id="metrics_gen">
            <form method="POST" id="gen_form" action="/pekl">
                <input type="hidden" name="fast" value="{{fast|tojson|safe}}">
                <input type="hidden" name="att" value="{{att[4]|tojson|safe}}">
                <input type="hidden" name="keys" value="{{keys|tojson|safe}}">
                <input type="submit" id="view_keyboard" value="Generate Your Keyboard">
            </form>
        </div>

        <div id="metrics2">
            <div id="hands"><div id="d3hands"></div></div>
        </div>
        <div class="label_typing" id="hands_label">Hand usage</div>
        
        <div id="metrics3">
            <div id="fingers"><div id="d3fingers"></div>
            </div>
            <div class="label_typing" id="fingers_label">
                <div class="sublabel" id="left">Left Hand</div>
                <div class="sublabel" id="both">Both Hands</div>
                <div class="sublabel" id="right">Right Hand</div><br>
                <div id="f_label">Finger Usage Percentages</div>
            </div>
        </div>

        <div id="metrics4">
            <div class="dataBox label_typing" id="freq_label">Letter Frequencies</div>
            <div class="dataBox" id="freq">{{freq}}</div>
        </div>

        <div id="metrics5">
            <div class="dataBox" id="mistyped">{{mistyped}}</div>
            <div class="dataBox label_typing" id="mistyped_label">Most Mistyped Word</div>
            <div id="mistakesBox">
                <div class="dataBox" id="mistakes">{{mostmistakes}}</div>
                <div class="dataBox label_typing" id="mistakes_label">Mistakes</div>
        </div>

        <div class="subtitle" id="profile">Typing Profile</div>

        <div id="metrics6">
            <div class="dataBox" id="profile_times">
                <b>Fastest dwell times</b> {{fastdwell}}<br>
                <b>Slowest dwell times</b> {{slowdwell}}<br>
                <b>Fastest flight times</b> {{fastflights}}<br>
                <b>Slowest flight times</b> {{slowflights}}<br><br>
            </div>
        </div>

        <div class="subtitle" id="bigram">Bigram Metrics</div>

        <div id="metrics7">
            <div class="dataBox metrics7"id="s_times">
                <div id="D3slow"></div>
                <div class="label_typing" id="s_times_label">
                    Slowest Bigram Times
                </div>
            </div>
            <div class="dataBox metrics7" id="f_times">
                <div id="D3fast"></div>
                <div class="label_typing" id="f_times_label">
                    Fastest Bigram Times
                </div>
            </div>
        </div>

        <div id="metrics8">
            <div class="dataBox" id="attr">
                <div class="label_typing" id="a_label">
                    Fastest attributes
                </div>
                <div id="as">
                    {{att[3][0][0]}}<br><br>
                    {{att[3][0][1]}}<br><br>
                    {{att[3][0][2]}}
                </div>
            </div>
        </div>

        <div id="metrics9">
            <div id="fhd">
                <div class="dataBox metrics9" id="fhd_f">Same finger use {{biAtt[1]}}</div>
                <div class="dataBox metrics9" id="fhd_h">Hand alteration {{biAtt[0]}}</div>
                <div class="dataBox metrics9" id="fhd_d">Horizontal/vertial movement {{biAtt[2]}}</div>
            </div>
        </div>
    </data>

<script type="text/javascript">

//Helper functions
    function findMax(l){
        var max = 0;

        for (var i=0; i < l.length; i++) {
            if (l[i] > max) {
                max = l[i];
            }
        }
        return max;
    }

//Creates D3 graphs

//FINGERS
    var fingersSVG = d3.select("#d3fingers")
        .append("svg")
        .attr("width", 380)
        .attr("height", 210); 

    var fingers = {{fingers|tojson|safe}};
    var x = 0;
    var max = findMax(fingers);

    for (var i=0; i < fingers.length; i++) {
        if ((i == 4) || (i == 5)) {
            x += 25;
        } else {
            x += 0;
        }

        var height = (fingers[i]/max) * 200;
        var l = Math.round(fingers[i]);
    
        fingersSVG.append("rect")
            .attr("x", 20 + (35 * i) + x)
            .attr("y", 210 - height)
            .attr("width", 25)
            .attr("height", height)
            .style("fill", "gray");

        if (l > 0) {
            fingersSVG.append("text")
                .attr('fill','white')
                .attr("x", 20 + (35 * i) + x + 13)
                .attr("y", 225 - height)
                .attr("text-anchor", "middle")
                .attr("font-size", "11px")
                .text(l + "%");
        } else {
            fingersSVG.append("text")
                .attr('fill','black')
                .attr("x", 20 + (35 * i) + x + 13)
                .attr("y", 210)
                .attr("text-anchor", "middle")
                .attr("font-size", "11px")
                .text(l + "%");
        }
    }

//HANDS

    var handsSVG = d3.select("#d3hands")
        .append("svg")
        .attr("width", 450)
        .attr("height", 610); 

    var hands = {{hands|tojson|safe}};

    for (var j=0; j < hands.length; j++) {        
 
        handsSVG.append("rect")
            .attr("x", (35 * j))
            .attr("y", 0)
            .attr("width", 25)
            .attr("height", hands[j])
            .style("fill", "gray");
    }

//SLOWEST TIMES

    var slowestSVG = d3.select("#d3slow")
        .append("svg")
        .attr("width", 340)
        .attr("height", 200); 

    var slowest = {{slowbigrams|tojson|safe}};
    var x = 0;
    var max = 0;

    for (var p in slowest) {
        if (slowest[p][0] > max) {
            max = slowest[p][0];
        }
    }

    for (var p in slowest) {   
        var v = slowest[p][0];
        var width = (v/max * 225);
        var l = slowest[p][1];
    
        slowestSVG.append("rect")
            .attr("x", 340 - width)
            .attr("y", 20 + (40 * p))
            .attr("width", width)
            .attr("height", 25)
            .style("fill", "gray");

        slowestSVG.append("text")
                .attr('fill', "#0088cc")
                .attr("x", 50)
                .attr("y", 37 + (40 * p))
                .attr("font-size", "12px")
                .text(l);

        slowestSVG.append("text")
            .attr('fill','black')
            .attr("x", 25)
            .attr("y", 37 + (40 * p))
            .attr("text-anchor", "middle")
            .attr("font-size", "11px")
            .text(v +"ms");
    }

//FASTEST TIMES

    var fastestSVG = d3.select("#d3fast")
        .append("svg")
        .attr("width", 292)
        .attr("height", 200); 

    var fastest = {{fastbigrams|tojson|safe}};
    console.log(fastest);
    var x = 0;

    for (var p in fastest) {
        if (fastest[p][0] > max) {
            max = fastest[p][0];
        }
    }

    for (var p in fastest) {   
        var v = fastest[p][0];
        var width = (v/max * 225);
        var l = fastest[p][1];
    
        fastestSVG.append("rect")
            .attr("x", 0)
            .attr("y", 20 + (40 * p))
            .attr("width", width)
            .attr("height", 25)
            .style("fill", "#0088cc");

        fastestSVG.append("text")
                .attr('fill', "#0088cc")
                .attr("x", 160)
                .attr("y", 37 + (40 * p))
                .attr("font-size", "12px")
                .text(l);

        fastestSVG.append("text")
            .attr('fill','black')
            .attr("x", 130)
            .attr("y", 37 + (40 * p))
            .attr("text-anchor", "middle")
            .attr("font-size", "12px")
            .text(v + "ms");
    
    }


</script>
{% endblock %}