{% extends "base.html" %}
{% block body %}

<form method="POST" id="rename_form" action="/pekl">
    <input type="hidden" name="fast" value="{{fast|tojson|safe}}">
    <input type="hidden" name="att" value="{{att[4]|tojson|safe}}">
    <input type="hidden" name="keys" value="{{keys|tojson|safe}}">
    <input type="submit" id="view_keyboard" value="Generate Your Keyboard">
</form>

<h1>KEYBOARD ANALYTICS</h1>

<b>Finger usage</b> {{fingers}}<br>
<b>Hand usage</b> {{hands}}<br>

<b>Distance</b> {{distance}}<br><br>
<b>Frequencies</b> {{freq}}<br>
<b>Words per minute</b> {{wpm}}<br>
<b>Accuracy</b> {{accuracy}}<br>
<b>Least mistakes</b> {{mostmistakes}}<br>
<b>Most mistakes</b> {{leastmistakes}}<br><br>

<b>Fastest times</b> {{fastdwell}}<br>
<b>Slowest times</b> {{slowdwell}}<br><br>
<b>Fastest times</b> {{fastflights}}<br>
<b>Slowest times</b> {{slowflights}}<br><br>

<b>Freq Bigrams</b> {{freqbigrams}}<br><br>
<b>Fastest times</b> {{fastbigrams}}<br>
<b>Slowest times</b> {{slowbigrams}}<br><br>
<b>Bigram attributes</b><br>
Hand alteration {{biAtt[0]}}<br>
Same finger use {{biAtt[1]}}<br>
Horizontal/vertial movement {{biAtt[2]}}<br>
Fastest bigram attributes<br>
{{att[3][0][0]}},
{{att[3][0][1]}},
{{att[3][0][2]}}<br>
Average bigram attributes<br>
{{att[3][1][0]}},
{{att[3][1][1]}},
{{att[3][1][2]}}<br>
Slowest bigram atributes<br>
{{att[3][2][0]}},
{{att[3][2][1]}},
{{att[3][2][2]}}<br>
<br>{{att[4]}}<br><br>
{% endblock %}