{% extends "base.html" %}
{% block body %}
<script src="/static/js/d3.v3.js" charset="utf-8"></script>
<h1>{{keyboard.name}}</h1><br>

{% if keyboard.tests %}
    <div id="keyboard_tests"><div id="tests"></div>
        {% for test in keyboard.tests %}
            Accuracy: {{test.accuracy}}<br>
            WPM: {{test.wpm}}<br><br>
        {% endfor %}
    <div id="tests_label">Keyboard<br>Accuracy and Words Per Minute</div></div><br>
    <div id="keyboard_vector">KEYBOARD VECTOR</div><br>
{% else %}
    <div id="no_tests"><a href="/keyboard/{{keyboard.id}}">No typing test data</a></div>
{% endif %}

{% if an %}
        <div id="data">
        <div id="metrics1">
            <div class="Ametrics" id="distance"><div id="d">{{distance[:-3]}}<br></div><br><div class="AmetricsContent">Distance<br>(mm)</div></div>
            <div class="Ametrics" id="wpm"><div id="w">{{wpm}}</div><br><div class="AmetricsContent">Words Per Minute</div></div>
            <div class="Ametrics" id="accuracy"><div id="a">{{accuracy[:-2]}}%</div><br><div class="AmetricsContent"><div id="acc">Accuracy</div></div></div>
        </div>

        <div id="metrics_gen">
            <form method="POST" id="gen_form" action="/pekl">
                <input type="hidden" name="fast" value="{{fast|tojson|safe}}">
                <input type="hidden" name="att" value="{{att[4]|tojson|safe}}">
                <input type="hidden" name="keys" value="{{keys|tojson|safe}}">
                <input type="submit" id="view_keyboard" value="Generate Your Keyboard">
            </form>
        </div>

        <div id="metrics2">
            <div id="hands"><div id="d3hands"></div></div>
        </div>
        <div id="hands_label"><div id="hu">Hand usage</div></div>
        
        <div id="metrics3">
            <div id="fingers"><div id="d3fingers"></div>
            </div>
            <div class="label_typing" id="fingers_label">
                <div class="sublabel" id="left">Left Hand</div>
                <div class="sublabel" id="both">Both Hands</div>
                <div class="sublabel" id="right">Right Hand</div><br>
                <div id="f_label">Finger Usage Percentages</div>
            </div>
        </div>

        <div id="metrics4">
            <div class="dataBox label_typing" id="freq_label"><div id="lf">Letter Frequencies</div></div>
            <div class="dataBox" id="freq"><div id="D3freq"></div></div>
        </div>

        <div class="subtitle" id="profile">Typing Profile</div>

        <div id="metrics6">
            <div class="dataBox" id="profile_times">
                <div id="D3profile"></div>
                <div id="l_profile">
                    <div class="sublabel" id="fdtimes">Fastest</div>
                    <div class="sublabel" id="sdtimes">Slowest</div>
                    <div class="sublabel" id="fftimes">Fastest</div>
                    <div class="sublabel" id="sftimes">Slowest</div><br>
                    <div class="mainlabel" id="dwell">Dwell Times (ms)</div>
                    <div class="mainlabel" id="flight">Flight Times (ms)</div>
                </div>
            </div>
        </div>

        <div id="metrics5">
            <div id="mistakesBox">
                <div class="dataBox" id="mistakes"><div id="D3mistakes">
                    {% for m in mostmistakes %}
                        {% if loop.index == 1 %}
                            <div id="m0">{{m[1]}}</div>
                        {% endif %}
                        {% if loop.index == 2 %}
                            <div id="m1">{{m[1]}}</div>
                        {% endif %}
                        {% if loop.index == 3 %}
                            <div id="m2">{{m[1]}}</div>
                        {% endif %}
                    {% endfor %}
                </div></div>
                <div class="dataBox label_typing" id="mistakes_label"><div id="mist">Top 3<br>Key Mistakes</div></div>
            </div>
        </div>

        <div class="subtitle" id="bigram">Bigram Metrics</div>

        <div id="metrics7">
            <div class="dataBox metrics7"id="s_times">
                <div id="D3slow"></div>
                <div class="label_typing" id="s_times_label">
                    Slowest Bigram Times
                </div>
            </div>
            <div class="dataBox metrics7" id="f_times">
                <div id="D3fast"></div>
                <div class="label_typing" id="f_times_label">
                    Fastest Bigram<br>Times
                </div>
            </div>
        </div>

        <div id="metrics8">
            <div class="dataBox" id="attr">
                <div class="label_typing" id="a_label">
                    Fastest attributes
                </div>
                <div id="as">
                    {{att[3][0][0]}}<br><br>
                    {{att[3][0][0]}}<br><br>
                    {{att[3][0][2]}}
                </div>
            </div>
        </div>

        <div id="metrics9">
            <div id="fhd">
                <div class="dataBox metrics9" id="fhd_f"><div id="D3same_finger"></div></div>
                <div class="dataBox metrics9" id="fhd_h"><div id="D3hand_alt"></div></div>
                <div class="dataBox metrics9" id="fhd_d"><div id="D3direction"></div></div>
            </div>
        </div>
    </div>


<script type="text/javascript">
    //Helper functions
    function findMax(l){
        var max = 0;

        for (var i=0; i < l.length; i++) {
            if (l[i] > max) {
                max = l[i];
            }
        }
        return max;
    }

//Creates D3 graphs

//FINGERS
    var fingersSVG = d3.select("#d3fingers")
        .append("svg")
        .attr("width", 380)
        .attr("height", 210); 

    var fingers = {{fingers|tojson|safe}};
    var x = 0;
    var max = findMax(fingers);

    for (var i=0; i < fingers.length; i++) {
        if ((i == 4) || (i == 5)) {
            x += 25;
        } else {
            x += 0;
        }

        var height = (fingers[i]/max) * 200;
        var l = Math.round(fingers[i]);
    
        fingersSVG.append("rect")
            .attr("x", 20 + (35 * i) + x)
            .attr("y", 210 - height)
            .attr("width", 25)
            .attr("height", height)
            .style("fill", "gray");

        if (l > 0) {
            fingersSVG.append("text")
                .attr('fill','white')
                .attr("x", 20 + (35 * i) + x + 13)
                .attr("y", 225 - height)
                .attr("text-anchor", "middle")
                .attr("font-size", "11px")
                .text(l + "%");
        } else {
            fingersSVG.append("text")
                .attr('fill','black')
                .attr("x", 20 + (35 * i) + x + 13)
                .attr("y", 210)
                .attr("text-anchor", "middle")
                .attr("font-size", "11px")
                .text(l + "%");
        }
    }

//HANDS

    var cScale = d3.scale.linear().domain([0, 100]).range([0, 2 * Math.PI]);

    var hands = {{hands|tojson|safe}};

    data = [[0, hands[0], "lightgray"], 
            [hands[0], hands[0] + hands[1], "#0088cc"], 
            [hands[0] + hands[1], 100, "gray"]]

    var handsSVG = d3.select("#d3hands")
        .append("svg")
        .attr("width", 310)
        .attr("height", 300); 

    var arc = d3.svg.arc()
        .innerRadius(100)
        .outerRadius(125)
        .startAngle(function(d){return cScale(d[0]);})
        .endAngle(function(d){return cScale(d[1]);});

    handsSVG.selectAll("path")
        .data(data)
        .enter()
        .append("path")
        .attr("d", arc)
        .style("fill", function(d){return d[2];})
        .attr("transform", "translate(155,150)");

    handsSVG.append("text")
        .attr('fill','lightgray')
        .attr("x", 115)
        .attr("y", 130)
        .attr("font-size", "18px")
        .text("Left Hand");
    handsSVG.append("text")
        .attr('fill','#0088cc')
        .attr("x", 109)
        .attr("y", 157)
        .attr("font-size", "18px")
        .text("Right Hand");
    handsSVG.append("text")
        .attr('fill','gray')
        .attr("x", 107)
        .attr("y", 184)
        .attr("font-size", "18px")
        .text("Both Hands");


//SLOWEST TIMES

    var slowestSVG = d3.select("#d3slow")
        .append("svg")
        .attr("width", 370)
        .attr("height", 200); 

    var slowest = {{slowbigrams|tojson|safe}};
    var x = 0;
    var max = 0;

    for (var p in slowest) {
        if (slowest[p][0] > max) {
            max = slowest[p][0];
        }
    }

    for (var p in slowest) {   
        var v = slowest[p][0];
        var width = (v/max * 225);
        var l = slowest[p][1];
    
        slowestSVG.append("rect")
            .attr("x", 370 - width)
            .attr("y", 20 + (40 * p))
            .attr("width", width)
            .attr("height", 25)
            .style("fill", "gray");

        slowestSVG.append("text")
                .attr('fill', "#0088cc")
                .attr("x", 50)
                .attr("y", 37 + (40 * p))
                .attr("font-size", "12px")
                .text(l);

        slowestSVG.append("text")
            .attr('fill','black')
            .attr("x", 25)
            .attr("y", 37 + (40 * p))
            .attr("text-anchor", "middle")
            .attr("font-size", "11px")
            .text(v +"ms");
    }

//FASTEST TIMES

    var fastestSVG = d3.select("#d3fast")
        .append("svg")
        .attr("width", 292)
        .attr("height", 200); 

    var fastest = {{fastbigrams|tojson|safe}};
    var x = 0;

    for (var p in fastest) {
        if (fastest[p][0] > max) {
            max = fastest[p][0];
        }
    }

    for (var p in fastest) {   
        var v = fastest[p][0];
        var width = (v/max * 225);
        var l = fastest[p][1];
    
        fastestSVG.append("rect")
            .attr("x", 0)
            .attr("y", 20 + (40 * p))
            .attr("width", width)
            .attr("height", 25)
            .style("fill", "#0088cc");

        fastestSVG.append("text")
                .attr('fill', "#0088cc")
                .attr("x", 130)
                .attr("y", 37 + (40 * p))
                .attr("font-size", "12px")
                .text(l);

        fastestSVG.append("text")
            .attr('fill','black')
            .attr("x", 105)
            .attr("y", 37 + (40 * p))
            .attr("text-anchor", "middle")
            .attr("font-size", "12px")
            .text(v + "ms");
    
    }

//PROFILE
    var fdwell = {{fastdwell|tojson|safe}};
    var sdwell = {{slowdwell|tojson|safe}};
    var fflight = {{fastflights|tojson|safe}};
    var sflight = {{slowflights|tojson|safe}};

    var profileSVG = d3.select("#d3profile")
        .append("svg")
        .attr("width", 555)
        .attr("height", 250); 

    var x = 0;
    var max = 0;

    var offset = 0;

    for (var h=0; h < sdwell.length; h++) {
        if (sdwell[h][0] > max) {
            max = sdwell[h][0];
        }
    }

    for (var i=0; i < fdwell.length; i++) {
        var v = fdwell[i][0];
        var height = (v/max) * 100;
        var l = fdwell[i][1];
    
        profileSVG.append("rect")
            .attr("x", 25 + (40 * i) + offset)
            .attr("y", 130 - height)
            .attr("width", 25)
            .attr("height", height)
            .style("fill", "#0088cc");

        profileSVG.append("text")
            .attr('fill', "gray")
            .attr("x", 25 + offset)
            .attr("y", 160 + (20 * i))
            .attr("font-size", "13px")
            .text(l);

        profileSVG.append("text")
            .attr('fill','white')
            .attr("x", 37 + (40 * i) + offset)
            .attr("y", 125)
            .attr("text-anchor", "middle")
            .attr("font-size", "12px")
            .text(v);
    }
    
    offset += 125;

    for (var i=0; i < sdwell.length; i++) {
        var v = sdwell[i][0];
        var height = (v/max) * 100;
        var l = sdwell[i][1];
    
        profileSVG.append("rect")
            .attr("x", 25 + (40 * i) + offset)
            .attr("y", 130 - height)
            .attr("width", 25)
            .attr("height", height)
            .style("fill", "lightgray");

        profileSVG.append("text")
            .attr('fill', "#0088cc")
            .attr("x", 25 + offset)
            .attr("y", 160 + (20 * i))
            .attr("font-size", "13px")
            .text(l);

        profileSVG.append("text")
            .attr('fill','white')
            .attr("x", 37 + (40 * i) + offset)
            .attr("y", 125)
            .attr("text-anchor", "middle")
            .attr("font-size", "12px")
            .text(v);
    }

    offset += 150;

    var max = 0;

    for (var h=0; h < sflight.length; h++) {
        if (sflight[h][0] > max) {
            max = sflight[h][0];
        } else if (Math.abs(fflight[h][0]) > max) {
            max = Math.abs(sflight[h][0]);
        }
    }

    for (var i=0; i < fflight.length; i++) {
        var v = fflight[i][0];
        var l = fflight[i][1];
        
        if (v > 0) {
            var height = (v/max) * 100;
            var h = 130 - height;
            var lh = 125;
        } else {
            var h = 130;
            var height = (Math.abs(v)/max) * 257;
            var lh = 145;
        }

        profileSVG.append("rect")
            .attr("x", 25 + (40 * i) + offset)
            .attr("y", h)
            .attr("width", 25)
            .attr("height", height)
            .style("fill", "#0088cc");

        profileSVG.append("text")
            .attr('fill', "gray")
            .attr("x", 25 + offset)
            .attr("y", 70 + (20 * i))
            .attr("font-size", "13px") 
            .text(l)
            .attr("transform", "rotate(45, 75 + (40 * i) + offset + 5, 170 - height + 5)");

        profileSVG.append("text")
            .attr('fill','white')
            .attr("x", 37 + (40 * i) + offset)
            .attr("y", lh)
            .attr("text-anchor", "middle")
            .attr("font-size", "12px")
            .text(v);
    
    }

    offset += 125;

    for (var i=0; i < sflight.length; i++) {
        var v = sflight[i][0];
        var l = sflight[i][1];
        var height = (v/max) * 100;

        profileSVG.append("rect")
            .attr("x", 25 + (40 * i) + offset)
            .attr("y", 130 - height)
            .attr("width", 25)
            .attr("height", height)
            .style("fill", "lightgray");

        profileSVG.append("text")
            .attr('fill', "#0088cc")
            .attr("x", 25 + offset)
            .attr("y", 160 + (20 * i))
            .attr("font-size", "13px")
            .text(l);

        profileSVG.append("text")
            .attr('fill','white')
            .attr("x", 37 + (40 * i) + offset)
            .attr("y", 125)
            .attr("text-anchor", "middle")
            .attr("font-size", "12px")
            .text(v);        

    }

    profileSVG.append("rect")
            .attr("x", 15)
            .attr("y", 130)
            .attr("width", 525)
            .attr("height", 1)
            .style("fill", "lightgray");  


//Finger use

    var same_finger = {{biAtt[0]|tojson|safe}};

    data = [[0, same_finger[0], "lightgray"], 
            [same_finger[0], 100, "#0088cc"]]

    var same_fingerSVG = d3.select("#d3same_finger")
        .append("svg")
        .attr("width", 240)
        .attr("height", 300); 

    var arc = d3.svg.arc()
        .innerRadius(90)
        .outerRadius(115)
        .startAngle(function(d){return cScale(d[0]);})
        .endAngle(function(d){return cScale(d[1]);});

    same_fingerSVG.selectAll("path")
        .data(data)
        .enter()
        .append("path")
        .attr("d", arc)
        .style("fill", function(d){return d[2];})
        .attr("transform", "translate(120,150)");

    same_fingerSVG.append("text")
        .attr('fill','lightgray')
        .attr("x", 78)
        .attr("y", 142)
        .attr("font-size", "15px")
        .text("Same Finger");

    same_fingerSVG.append("text")
        .attr('fill','#0088cc')
        .attr("x", 63)
        .attr("y", 175)
        .attr("font-size", "15px")
        .text("Alternating Fingers");

//hand alteration

    var hand_alteration = {{biAtt[1]|tojson|safe}};

    data = [[0, hand_alteration[0], "lightgray"], 
            [hand_alteration[0], hands[0] + hands[1], "gray"]]

    var handaltSVG = d3.select("#d3hand_alt")
        .append("svg")
        .attr("width", 240)
        .attr("height", 300); 

    var arc = d3.svg.arc()
        .innerRadius(90)
        .outerRadius(115)
        .startAngle(function(d){return cScale(d[0]);})
        .endAngle(function(d){return cScale(d[1]);});

    handaltSVG .selectAll("path")
        .data(data)
        .enter()
        .append("path")
        .attr("d", arc)
        .style("fill", function(d){return d[2];})
        .attr("transform", "translate(120,150)");

    handaltSVG .append("text")
        .attr('fill','lightgray')
        .attr("x", 82)
        .attr("y", 142)
        .attr("font-size", "15px")
        .text("Same Hand");

    handaltSVG .append("text")
        .attr('fill','gray')
        .attr("x", 65)
        .attr("y", 175)
        .attr("font-size", "15px")
        .text("Alternating Hands");

//direction 

    var directional = {{biAtt[2]|tojson|safe}};

    data = [[0, directional[0], "lightgray"], 
            [directional[0], directional[0] + directional[1], "#0088cc"],
            [directional[0] + directional[1], 100, "gray"]]

    var directionSVG = d3.select("#D3direction")
        .append("svg")
        .attr("width", 240)
        .attr("height", 300); 

    var arc = d3.svg.arc()
        .innerRadius(90)
        .outerRadius(115)
        .startAngle(function(d){return cScale(d[0]);})
        .endAngle(function(d){return cScale(d[1]);});

    directionSVG.selectAll("path")
        .data(data)
        .enter()
        .append("path")
        .attr("d", arc)
        .style("fill", function(d){return d[2];})
        .attr("transform", "translate(120,150)");

    directionSVG.append("text")
        .attr('fill','lightgray')
        .attr("x", 60)
        .attr("y", 130)
        .attr("font-size", "13px")
        .text("Horizontal Movement");

    directionSVG.append("text")
        .attr('fill','#0088cc')
        .attr("x", 68)
        .attr("y", 160)
        .attr("font-size", "13px")
        .text("Vertical Movement");

    directionSVG.append("text")
        .attr('fill','gray')
        .attr("x", 72)
        .attr("y", 190)
        .attr("font-size", "13px")
        .text("Mixed Movement");

//freq

    var freq = {{freq|tojson|safe}};
    var alpha = {'SHIFT': 41, "'": 39, '-': 11, ',': 49, '/': 51, '.': 50, '1': 1, '0': 10, '3': 3, '2': 2, '5': 5, '4': 4, 'TAB': 14, '6': 6, '9': 9, '8': 8, ';': 38, '=': 12, '7': 7, 'SPACE': 52, 'CAPS': 28, 'ENTER': 40, '[': 25, ']': 26, '\\': 27, 'a': 29, '`': 0, 'c': 44, 'b': 46, 'e': 17, 'd': 31, 'g': 33, 'f': 32, 'i': 22, 'h': 34, 'k': 36, 'j': 35, 'm': 48, 'l': 37, 'o': 23, 'n': 47, 'q': 15, 'p': 24, 's': 30, 'r': 18, 'u': 21, 't': 19, 'w': 16, 'v': 45, 'y': 20, 'x': 43, 'z': 42, 'DELETE': 13}

    var freqSVG = d3.select("#d3freq")
        .append("svg")
        .attr("width", 798)
        .attr("height", 252);

    var x;
    var y;
    var c;
    var h = 0;
    var o;
    var s;

    for (var i in freq) {

        if (alpha[i] < 14) {
            x = (794/14) * alpha[i];
            y = 25;
        } else if (alpha[i] < 28) {
            x = (794/14) * (alpha[i] - 13);
            y = 75;
        } else if (alpha[i] < 41) {
            x = (794/13) * (alpha[i] - 28);
            y = 125;
        } else if (alpha[i] < 52) {
            x = (794/12) * (alpha[i] - 40);
            y = 175;
        } else {
            x = (794/2);
            y = 225;
        }

        if ((alpha[i] == 13) || (alpha[i] == 52) || (alpha[i] == 40)) {
            s = "9px";
            o = 15;
        } else if ((alpha[i] == 41)) {
            s = "9px";
            o = 12;
        } else if ((alpha[i] == 28) || (alpha[i] == 14)) {
            s = "9px";
            o = 8;
        } else {
            s = "13px";
            o = 3;
        }

        var total = 0;
        for (var h in freq) {
            total += freq[h];
        }

        if ((freq[i]/total) > 0.1) {
            c = "#0088cc";
        } else if ((freq[i]/total) > 0.05) {
            c = "gray";
        } else {
            c = "lightgray";
        }

        freqSVG.append("circle")
            .attr("cx", x)
            .attr("cy", y)
            .attr("r", 20)
            .style("fill", c);

        freqSVG.append("text")
            .attr('fill','white')
            .attr("x", x - o)
            .attr("y", y + 3)
            .attr("font-size", s)
            .text(i);

        h++;
    } 
</script>

{% else %}
    <div id="no_analytics">Creation Analytics Unavailable</div>
{% endif %}

{% endblock %}