{% extends "base.html" %}
{% block body %}
    <div id="user_info">
        {% if session_id == keyboard.user.id %}
            <form method="POST" id="rename form" action="/keyboard/{{keyboard.id}}">
                <input type="hidden" name="board_id" value="{{keyboard.id}}">
                <textarea id="keyboard_name" name="new_name">{{keyboard.name}}</textarea>
                <input type="submit" id="rename_keyboard" value="Rename keyboard">
            </form>
        {% else %}
            <h2>{{keyboard.name}}</h2>
            <form method="POST" id="add_form" action="/keyboard/{{keyboard.id}}">
                <input type="submit" id="add_keyboard" value="Add to Inventory">
            </form>
        {% endif %}
        <h3 id="keyboard_display"><b>Creator:</b> 
        {% if keyboard.user == None %}
            Communal
        {% else %}
            <a href="/user/{{keyboard.user.id}}">{{keyboard.user.name}}</a>
        {% endif %}</h3>
        <h3 id="keyboard_display">{{date}}</h3>
    </div>
    <div id="typing_test1">
            <span id="text_sample">{{text.content}}<br><b>{{text.title}}</b> -{{text.author}}</span>
    </div>
{% endblock %}